name: Build, Test & Deploy
on:
  push:
    branches: [main]
env:
  PROJECT_VERSION: 1.0.0

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
