name: Build, Test & Deploy
on:
  push:
    branches: [main]
env:
  PROJECT_VERSION: 1.0.0
  MAVEN_OPTS: "-Dmaven.repo.local=${{ github.workspace }}/.m2/repository"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 17
          distribution: temurin
      - name: Cache
        uses: actions/cache@v4.3.0
        with:
          path: "${{ github.workspace }}/.m2/repository"
          key: hashFiles('**/pom.xml')
      - name: Build project with Maven
        run: mvn clean package -DskipTests
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 17
          distribution: temurin
      - name: Cache
        uses: actions/cache@v4.3.0
        with:
          path: "${{ github.workspace }}/.m2/repository"
          key: hashFiles('**/pom.xml')
      - name: Test project with Maven
        run: mvn test
